*{
    margin: 0;
    padding: 0;
    font-family: 'lato',sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 15px;
}
.flex-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.clearfix ::after{
    content: "";
    display: block;
    clear: both;
}
button:hover{
    opacity:0.6;
}
/* header area starts here */
.wrapper{
    width: 100%;
    height: 70vh;
    background-image:url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5%;
}
.inner-top nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1rem;
}
nav h3{
    font-size: 1rem;
    font-weight: 800;
    color: #fff;
}
nav ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}
nav ul li{
    color: #fff;
    margin-left: 1rem;
}
.intro{
    margin-top: 13rem;
    text-align: center;
    color: #fff;
}
.intro h1{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.2rem;
}
.intro p{
    width: 70%;
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 auto;
    font-weight: 300;
}
.intro button{
    width: 120px;
    height: 35px;
    background-color: #2b8fc4;
    font-family: 'lato',sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    margin-top: 2rem;
    border: 0;
}
/* header area ends */

/*three section area starts here */
.full-width{
    width: 100%;
    background-color: black;
    color: #fff;
}
.apple-section{
    width: 30%;
    text-align: center;
}
.apple-section h3{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    color: #b7b8b8;
}
.apple-section  .fa{
    font-size: 2rem;
    margin-bottom: 2rem;
    animation: apple 3s linear 0s infinite;
}
@keyframes apple{
    0%{
        color: #fff;
    }
    20%{
        color: #1fdd68;
    }
    
    50%{
        color: #1fdadd;
    }
    80%{
        color: red;
    }
}
.apple-section p{
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    color: #b7b8b8;
}
.apple-section button{
    width: 100px;
    height: 35px;
    background-color: #2b8fc4;
    font-family: 'lato',sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: #fff;
    border: 0;
}
/*two big-section area starts here*/
.full-background{
    width: 100%;
    background-color: #101214;
    color: #b7b8b8;
}
/*left area */
.left{
    width: 60%;
}
.big-left-area1{
    width: 100%;
}
.big-left-area1 img{
    width: 100%;
    margin-bottom: 1rem;
}
.big-left-area1 h3{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.big-left-area1 p{
    font-size: 0.8;
    text-align: left;
    line-height: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.big-left-area1 button{
    width: 100px;
    height: 35px;
    background-color: #2b8fc4;
    font-family: 'lato',sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    border: 0;
    margin-bottom: 1.2rem;
}
.left-area2{
    width: 45%;
}
.left-box h3{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0;
}
.left-box p{
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 1rem 0;
}

/* right area*/
.right{
    width: 30%;
}
.sector-1{
    width: 45%;
    text-align: left;
}
.sector-1 h3{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: left;
}
.sector-1 li{
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.sector-2{
    width: 100%;
    margin-top: 2rem;
}
.sector-2 h3{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
.sector-2 img{
    float: left;
    margin-right: 1rem;
}
.sector-2 p{
    font-size: 0.8rem;
    font-weight:300;
    line-height: 1.5rem;
    margin-left: 1rem;
}
.sector-2 button{
    width: 90px;
    height: 35px;
    background-color: #2b8fc4;
    font-family: 'lato',sans-serif;
    font-size: 0.7rem;
    font-weight: 300;
    color: #fff;
    border: 0;
    margin-top: 1.5rem;  
    clear: both; 
}
/*footer area starts here */
footer{
    width: 100%;
    text-align: center;
    
    background-color: #101214;
}
footer p{
    font-size: 0.8rem;
    color: #b7b8b8;
    padding: 2rem;

}
/* media query starts */
@media only screen and (max-width: 800px) {
    
    .flex-box{
        display: block;
    }
    .intro {
        margin-top: 8rem;
    }
    .intro h1{
        font-size: 1.3rem;        
    }
    .intro p{
        font-size: 1rem;
    }
    .apple-section{
        width: 100%;
        margin-bottom: 4rem;
    }
    .apple-section h3{
        margin-bottom: 1rem;
    }
    .apple-section .fa{
        margin-bottom: 1rem;
    }
    .apple-section p{
        width: 70%;
        margin: 0 auto;
    }
    .apple-section button{
        margin-top: 1rem;
    }
    .left{
        width: 100%;
    }
    
    .left-area2{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .sector-change{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin:2rem 0;
       
    }
    .sector-left{
        margin-left: 1rem;
    }
    

}